<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>
<%= image_tag(@product.img) %>
<p><%= @product.item %></p>
<p><%= @product.description %></p>
<p><%= @product.price %></p>
<p><%= @product.dimension_w %></p>
<p><%= @product.dimension_l %></p>
<p><%= @product.dimension_h %></p>
<p><%= @product.quantity %></p>
<p><%= @product.category %></p>